@import 'colors';
@import 'utils';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@max-mobile: 576px;


* {
  box-sizing: border-box;
}

.nav {
  position: sticky;
  top: 0;
}

footer {
  display: flex !important;
  color: @dark-violette;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  padding: 20px 0;
  margin-top: 20px;

  .branding {
    width: fit-content;
    padding: 0 10px;
  }

  .footer-text {
    text-align: right;
    width: 100%;
    display: block;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

.content-container {
  padding: 50px 10px;

  @media (max-width: @max-mobile) {
    padding: 20px 10px;
  }

}

.jumbotron {
  color: @dark-violette;
  margin-bottom: 100px;
}

.main-title {
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  font-weight: bold;
  color: @dark-violette;
  max-width: 800px;
  margin: 20px auto;

  @media (max-width: @max-mobile) {
    font-size: 24px;
    line-height: 36px;
  }
}

.subtitle {
  font-size: 18px;
  line-height: 27px;
  color: @dark-violette;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.grey-background {
  background-color: @smokey-white;
}


#iphone {
  position: absolute;
  transform: rotateZ(-15deg);
  width: 150px;
  top: -125px;
  right: 25px;

  @media (min-width: @device-xs) {
    width: 175px;
    top: -125px;
    right: 100px;
  }

  @media (min-width: @device-md) {
    width: 150px;
    right: 0;
    top: -100px;
  }

  @media (min-width: @device-lg) {
    top: -100px;
    right: 50px;
    width: 175px;
  }

  @media (min-width: @device-xl) {
    max-width: 800px;
    top: -100px;
    right: 50px;
    width: 200px;
  }

}

#salad {
  position: relative;
  width: 100%;
  max-width: 175px;
  margin: 0 auto;
  display: block;

  @media (min-width: @device-xs) {
    max-width: 200px;
  }

  @media (min-width: @device-md) {
    max-width: 150px;
  }

  @media (min-width: @device-lg) {
    max-width: 200px;
  }

  @media (min-width: @device-xl) {
    max-width: 200px;
  }
}

.cards-container {
  position: relative;
  align-content: center;
  margin-top: 50px;
}

.form-container {
  height: 2500px;
  overflow: auto;

  @media (min-width: @device-xs) {
    height: 2750px;
  }

  @media (min-width: @device-md) {
    height: 2550px;
    overflow: hidden;
  }
}