@import '../../colors';
@import '../../utils';

.card-container {
  padding: 20px 0;
  height: 100%;
  position: relative;
  z-index: 2;

  @media (min-width: @device-md) {
    padding: 50px 20px;
  }

  .card-text-wrapper {
    color: black;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    @media (max-width: @device-xl) {
      font-size: 18px;
      line-height: 27px;
    }

  }

}

.cards-container {

  &-desktop {
    .card-container {
      background-color: @light-green;
      max-width: 380px;
      border-radius: 4px;

      .card-image-wrapper {
        position: absolute;
        top: -30px;

        img {
          width: 60px;
        }
      }

    }

    .card-line {
      border-top: 1px dashed @dark-violette;
      height: 1px;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

  }

  &-mobile {
    .card-container {
      display: flex;
    }

    .card-line {
      border-right: 1px dashed @dark-violette;
      height: calc(100% - 100px);
      width: 1px;
      position: absolute;
      z-index: 1;
      right: calc(12.5%);

      @media (min-width: @device-xs) {
        right: calc(12.5%);
      }

      @media (min-width: @device-md) {
        right: calc(12.5% + 14px);
      }
    }

    .card-text-wrapper {
      display: flex;
      align-items: center;
      padding-right: 10px;
    }

    .card-image-wrapper {
      text-align: center;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100px;
        width: 100%;
      }
    }
  }
}

@media (max-width: @device-lg) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: @device-lg) {
  .hide-desktop {
    display: none;
  }
}