@import '../../colors';
@import '../../utils';

.form {
  justify-content: center;
  @media (max-width: @device-md) {
    padding: 0 10px;
  }
}


.full-width-form {
  width: 100%;
  display: block;
}

.email-form {
  flex: content !important;

  #email {
    background: @smokey-white;
    border: none;
    font-size: 18px;
    color: @dark-violette;
    width: 100%;
  }
}

.checkbox-form {
  margin: 10px 0;
  .ant-form-item-control-input-content {
    display: flex;
    align-items: center;

    @media (max-width: @device-md) {
      flex-direction: column;
      align-items: flex-start;

      .ant-checkbox-wrapper {
        margin-bottom: 10px;
      }

    }
  }
}

.sendinblue-form {
  font-size: 11px;
  display: flex;
  width: 100%;
  margin-top: 10px;

  .ant-form-item-control-input-content {
    display: flex;
    align-items: center;

    .declaration-block-icon {
      margin-right: 10px;

      svg {
        height: 30px;
        width: 30px;
      }
    }

    .clickable_link {
      margin-left: 5px;
    }

  }
}

.form-submit {
  width: 100%;

  .ant-btn {
    min-height: 50px;
  }
}