@import '../../colors';


.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 920;
  background: white;
  font-size: 16px;
  padding: 10px 0;
  margin-bottom: 5px;
}

.navbar-content-wrapper {
  display: flex;
  width: 100%;

  .navbar-branding {
    width: fit-content;
    display: flex;
    align-items: center;
  }
}
