@import '../colors';


.thank-you-page-container {
  align-items: center;
  display: flex;
  text-align: center;
  height: 100vh;


  h1 {
    color: @dark-violette;
    font-weight: bold;
    font-size: 36px;
  }

  h3 {
    color: fade(@dark-violette, 90%);
  }

  .team-container {
    margin-top: 50px;
    color: fade(darken(@dark-violette, 10%), 80%);

    img {
      height: 20px;
      margin-right: 5px;
    }
  }
}